<div class="text-center" *ngIf="!careerActive">
  <img src="https://i.postimg.cc/PqZgDJZd/01-no-notifications.gif" alt="" height="720vh" width="300px">
  <p class="text-danger">No new notifications</p>
</div>

<div class="mt-3">
  <h1 class="text-danger ps-5">Careers</h1>
  <div class="mt-5 ps-5">
    <h6>Contact : hr@hvc.in</h6>
  </div>
  <hr class="ms-5">

  <div class="card ms-5 mt-5 mb-5" *ngFor="let i of allcareers" style="width: 50%;">
    <div class="card-body">
      <h5 class="card-title text-center">{{i.jobName}}</h5>
      <div class="card-text mt-4">
        <p>Qualification : {{i.qualification}}</p>
        <p>Experience : {{i.experience}}</p>
        <p>Location : {{i.location}}</p>
        <p>Salary : Rs {{i.salary}}</p>
      </div>
    </div>
  </div>
</div>