<div class="mt-5 mb-5">
    <h1 class="text-center">Add New Project</h1>
    <form [formGroup]="addform" (ngSubmit)="add()" action="" class="container w-50 mt-3 shadow-lg p-5">
        <div class="mt-4">
            <input formControlName="projectName" id="u1" name="pname" type="text" placeholder="Project name" class="form-control">
        </div>
        <div class="mt-4">
            <input formControlName="location" id="u1" name="locta" type="text" placeholder="Location" class="form-control">
        </div>
        <div class="mt-4">
            <input formControlName="style" id="e1" name="sty" type="text" placeholder="Variety" class="form-control">
        </div>
        <div class="mt-4">
            <input formControlName="projectImage" id="image" name="image" type="text" placeholder="Paste the image URL" class="form-control">
        </div>
        <div class="mt-5">
            <label for="">Booking Status</label>
            <select formControlName="status" name="sts" id="s1" class="form-control mt-2">
                <option class="disabled" value="">Select status</option>
                <option value="1">Booking activated</option>
                <option value="0">Booking deactivated</option>
            </select>
        </div>
        <div class="mt-3 text-center">
            <button type="submit" class="btn btn-success w-25">Add</button>
        </div>
    </form>
</div>