<div class="admin">
    <div class="row second-header ps-5 pe-5 text-center text-white pt-4">
        <div class="col-4"><a href="enquiries">Enquiries</a></div>
        <div class="col-4"><a href="careers">Careers</a></div>
        <div class="col-4"><a href="dashboard-projects">Projects</a></div>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-between mt-5">
            <a routerLink="/add-project">
                <button class="btn btn-outline-warning">
                    <b>Add new Project</b>
                </button>
            </a>
            <a routerLink="/add-careers">
                <button class="btn btn-outline-success">
                    <b>Add new Notification</b>
                </button>
            </a>

        </div>
    </div>

</div>